body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c4d7f3;
  color: #9c5151;
}

.box {
  width: 700px;
  margin: 40px auto;
  background-color: #faf3f9;
  padding: 30px;
  border-radius: 8px;
}

h1 {
  color: #2c3e50;
}

.intro {
  font-size: 18px;
  line-height: 1.6;
  font-style:normal;
  color:#06111d
}

.btn {
  display: inline-block;
  margin: 15px 0 30px;
  padding: 10px 18px;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #574fd6;
}

.division {
  background-color: #dcf1f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.division h2 {
  margin-top: 0;
  color: #cd6868;
}

.socials {
  list-style: none;
  padding-left: 0;
  background-color: #dcf1f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.socials li {
  display: inline-block;
  margin-right: 15px;
}

.socials a {
  text-decoration: none;
  color: #6c63ff;
  font-weight: bold;
}

.socials a:hover {
  text-decoration: underline;
}